/* App.css */
body {
    font-family: Garamond, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Maximum width */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    background-color: #f9f9f9; /* Optional: Add a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #01C4A7;
    color: black;
    padding: 10px; /* Reduced padding */
    font-weight: bold;
    margin-bottom: 10px; /* Reduced margin */
}

.tabs {
    margin: 10px; /* Reduced margin */
}

.tabs button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #01C4A7;
    color: black;
    border-radius: 5px;
}

.tabs button:hover {
    background-color: #019a87;
}

nav {
    background-color: #000000;
    padding: 10px; /* Reduced padding */
}

nav a {
    color: #ffffff;
    margin: 0 10px; /* Reduced margin */
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    padding: 10px; /* Reduced padding */
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Minimal gap */
    margin-bottom: 10px; /* Reduced margin */
}

.contact-info span {
    flex: 1 1 45%; /* Adjust the percentage to control the width of each column */
}

.heading {
    padding: 5px;
}

.heading h1 {
    font-size: 2em;
    color: #01C4A7;
    margin-bottom: 10px; /* Reduced margin */
}

.subheading {
    margin-bottom: 5px; /* Reduced margin */
}

.subheading h2 {
    font-size: 1.5em;
    margin-bottom: 5px; /* Reduced margin */
}

.subheading h3 {
    font-size: 1.2em;
    margin-bottom: 5px; /* Reduced margin */
}

.subheading ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px; /* Reduced margin */
}

.skills {
    font-style: italic;
    color: gray;
    margin-bottom: 5px; /* Reduced margin */
}